
extends layout
block css
  link(rel='stylesheet', href='/stylesheets/about.css')
  
block content
  div.full-wrapper
    div(class="bd-container clearfix")
      div.abm-banner
        img(src="#{item.img}")
      div.abm-intro #{item.desc}
        