doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/detail.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
    link(rel='stylesheet', href='/stylesheets/edit.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/isotope.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/edit.js")
    
  body
    div.primary-container
      block content
