doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/edit.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/edit.js")
    
  body
    div.primary-container
      block content
