
extends layout


block content
  div(id="pg_home" _x='nb')
  div.full-wrapper
    div(class="bd-container clearfix")
      each val, index in items
        div(class="isotope-item #{val.type}" display="none")
          a(title="" href="/d/2")
            div(class="iop-overlay")
              div(class="iop-con")
                p #{val.label}
                s(class="iop-rad")
            div(class="iop-thumb")
              img(src="#{val.img}")
      